<link rel="stylesheet" href="{{ "/assets/css/header.css" | prepend: site.baseurl }}">
<input type="checkbox" id="xBxHack"/>
<nav id="mainNav" class="mainNav">
  <div class="container">
    <label class="navBars" for="xBxHack">
      <i class="fa fa-bars"></i>
    </label>
    <div class="lang">
      <a href="{{site.url}}/fa/">فارسی</a>
    </div>
    <ul id="menu" class="menu">
      <li><a href="{{site.baseurl}}/">Home</a></li>
      <li><a href="{{site.baseurl}}/about">About</a></li>
    </ul>
  </div>
</nav>
